img{
    width: 40%;
    border-radius: 50%;
    vertical-align: middle;
    width: 60px;
    height:70px;
    border-radius: 50%;
}
form{
    background-color: white;
    justify-content: center;
    padding:20px;
    width: 420px;   
    width: 420px;
    align-items: center;

  justify-content: center;
  padding:20px;
  width: 420px; 
}
  
.submitbtn{
        background-color:white;
        color:black;
        padding: 2px;
     
    }